---
// コンポーネント
import PageLayout from "../layouts/PageLayout.astro";
import PageBottomWave from "../components/common/PageBottomWave.astro";
import Breadcrumb from "../components/common/Breadcrumb.astro";
import PageTitle from "../components/common/PageTitle.astro";

// 画像
import { getImage } from "astro:assets";
import TitleTreeImage from "..//images/event/tree.png";

const Tree = await getImage({
  src: TitleTreeImage,
  format: "webp",
  quality: 85,
  widths: [140, 155, 170],
});
---

<PageLayout
  title="イベント情報｜コッコ祭り 2025｜KOKKO Festival"
  description="コッコ祭り2025の開催日時・場所・料金などイベント詳細情報。クリスマスシーズンに西湖で開催される特別なお祭りです。"
>
  <section class="page-wrapper event-page">
    <div class="event-page__content">
      <PageTitle accent="イ" title="ベント情報" subtitle="EVENT" />
      <main class="event-content">
        <header class="event-overview">
          <figure class="event-overview__tree event-overview__tree--left">
            <picture class="event-overview__tree-picture">
              <!-- デスクトップ（1024px以上）→ 最高解像度版 -->
              <source
                media="(min-width: 1024px)"
                srcset={Tree.srcSet.attribute}
                sizes="170px"
              />
              <!-- タブレット（744px以上）→ 中解像度版 -->
              <source
                media="(min-width: 744px)"
                srcset={Tree.srcSet.attribute}
                sizes="155px"
              />
              <!-- スマホ（744px未満）→ 最小解像度版 -->
              <img
                src={Tree.src}
                srcset={Tree.srcSet.attribute}
                sizes="(min-width: 1024px) 170px, (min-width: 744px) 155px, 140px"
                alt="クリスマスツリーのイラスト"
                class="event-overview__tree-img"
              />
            </picture>
          </figure>
          <h2 class="event-overview__title">開催概要</h2>
          <figure class="event-overview__tree event-overview__tree--right">
            <picture class="event-overview__tree-picture">
              <!-- デスクトップ（1024px以上）→ 最高解像度版 -->
              <source
                media="(min-width: 1024px)"
                srcset={Tree.srcSet.attribute}
                sizes="170px"
              />
              <!-- タブレット（744px以上）→ 中解像度版 -->
              <source
                media="(min-width: 744px)"
                srcset={Tree.srcSet.attribute}
                sizes="155px"
              />
              <!-- スマホ（744px未満）→ 最小解像度版 -->
              <img
                src={Tree.src}
                srcset={Tree.srcSet.attribute}
                sizes="(min-width: 1024px) 170px, (min-width: 744px) 155px, 140px"
                alt="クリスマスツリーのイラスト"
                class="event-overview__tree-img"
              />
            </picture>
          </figure>
        </header>
        <section class="event-details">
          <dl class="event-details__list">
            <div class="event-details__item">
              <dt class="event-details__term">開催日時</dt>
              <dd
                class="event-details__description event-details__description--date"
              >
                <div class="event-details__date-year">2025年12月</div>
                <div
                  class="event-details__date-detail event-details__date-wrapper"
                >
                  <div class="event-details__date-day">
                    6日（土）12:00〜23:00／
                  </div>
                  <div class="event-details__date-day">
                    7日（日）9:00〜15:00
                  </div>
                </div>
              </dd>
            </div>
            <div class="event-details__item">
              <dt class="event-details__term">開催場所</dt>
              <dd class="event-details__description">
                <address class="event-details__address">
                  <div class="event-details__address-zip">〒401-0332</div>
                  <div class="event-details__address-prefecture">
                    山梨県南都留郡 富士河口湖町
                  </div>
                  <div class="event-details__address-venue">
                    西湖・HAMAYOUリゾート
                  </div>
                </address>
              </dd>
            </div>
            <div class="event-details__item">
              <dt class="event-details__term">お問い合わせ</dt>
              <dd class="event-details__description">
                お問い合わせフォームは
                <a href="/inquiry" class="event-details__link">こちら</a>
              </dd>
            </div>
            <div class="event-details__item">
              <dt class="event-details__term">アクセス</dt>
              <dd class="event-details__description">
                <a href="/access" class="event-details__link">アクセスページ</a
                >をご覧ください
              </dd>
            </div>
            <div class="event-details__item">
              <dt class="event-details__term">主催</dt>
              <dd class="event-details__description">
                株式会社HAMAYOUリゾート
              </dd>
            </div>
            <div class="event-details__item event-details__item--sponsor">
              <dt class="event-details__term">
                協賛<span class="event-details__term-suffix">（順不同）</span>
              </dt>
              <dd class="event-details__description">
                <ul class="event-details__sponsor-list">
                  <li class="event-details__sponsor-item">
                    <a href="https://ibee-studio.com/" target="_blank"
                      >ibee Studio</a
                    >
                  </li>
                  <li class="event-details__sponsor-item">旭造園</li>
                  <li class="event-details__sponsor-item">
                    株式会社東屋ミートセンター
                  </li>
                  <li class="event-details__sponsor-item">有限会社アップル</li>
                  <li class="event-details__sponsor-item">
                    株式会社エスエスワイ
                  </li>
                  <li class="event-details__sponsor-item">株式会社エスケイ</li>
                  <li class="event-details__sponsor-item">株式会社小笠</li>
                  <li class="event-details__sponsor-item">
                    有限会社後藤工務店
                  </li>
                  <li class="event-details__sponsor-item">
                    キーコーヒー株式会社
                  </li>
                  <li class="event-details__sponsor-item">
                    クオリティーメンテナンス
                  </li>
                  <li class="event-details__sponsor-item">
                    株式会社小林リース
                  </li>
                  <li class="event-details__sponsor-item">株式会社米福</li>
                  <li class="event-details__sponsor-item">株式会社サンエイ</li>
                  <li class="event-details__sponsor-item">
                    株式会社スタイルブレッド
                  </li>
                  <li class="event-details__sponsor-item">
                    株式会社セントラルクルー
                  </li>
                  <li class="event-details__sponsor-item">日本食研株式会社</li>
                  <li class="event-details__sponsor-item">
                    登り坂石油株式会社
                  </li>
                  <li class="event-details__sponsor-item">
                    株式会社ヒューマニック
                  </li>
                  <li class="event-details__sponsor-item">
                    株式会社富士クリスタルビバレッジ
                  </li>
                  <li class="event-details__sponsor-item">富士冷熱株式会社</li>
                  <li class="event-details__sponsor-item">
                    有限会社丸金屋油店
                  </li>
                  <li class="event-details__sponsor-item">
                    宮下自動車修理工場
                  </li>
                  <li class="event-details__sponsor-item">
                    リゾートメンテナンス株式会社
                  </li>
                  <li class="event-details__sponsor-item">株式会社JTB商事</li>
                </ul>
              </dd>
            </div>
          </dl>
        </section>
        <nav class="event-links">
          <div class="event-links__container">
            <a href="/timetable.pdf" target="_blank" class="event-links__item">
              <span class="event-links__text">タイムスケジュール</span>
              <svg
                class="event-links__icon"
                xmlns="http://www.w3.org/2000/svg"
                width="51"
                height="51"
                viewBox="0 0 51 51"
                fill="none"
              >
                <circle cx="25.5703" cy="25.9766" r="25" fill="white"></circle>
                <path
                  d="M21.2257 17.2775L20.3049 18.6202L19.472 19.9859L20.8586 20.8885L22.2763 21.8211L23.6753 22.7762L25.093 23.7087L26.5511 24.5761L28.001 25.5641L26.4716 26.4324L25.0931 27.4444L23.6586 28.357L22.2267 29.2852L20.8118 30.2362L19.3177 31.14L20.3064 32.4872L21.1378 33.9331L22.5293 32.9026L23.9539 31.9886L25.4402 31.1699L26.7835 30.1222L28.2529 29.2807L29.6705 28.3453L31.0698 27.3972L32.517 26.5017L33.9262 25.555L32.4723 24.6933L31.1294 23.6702L29.6553 22.8411L28.3181 21.8137L26.8311 21.0031L25.455 20.0309L24.0675 19.0673L22.6323 18.1829L21.2257 17.2775Z"
                  fill="#816259"></path>
              </svg>
            </a>
            <a href="/event/venue-map" class="event-links__item">
              <span class="event-links__text">会場マップ</span>
              <svg
                class="event-links__icon"
                xmlns="http://www.w3.org/2000/svg"
                width="51"
                height="51"
                viewBox="0 0 51 51"
                fill="none"
              >
                <circle cx="25.5703" cy="25.9766" r="25" fill="white"></circle>
                <path
                  d="M21.2257 17.2775L20.3049 18.6202L19.472 19.9859L20.8586 20.8885L22.2763 21.8211L23.6753 22.7762L25.093 23.7087L26.5511 24.5761L28.001 25.5641L26.4716 26.4324L25.0931 27.4444L23.6586 28.357L22.2267 29.2852L20.8118 30.2362L19.3177 31.14L20.3064 32.4872L21.1378 33.9331L22.5293 32.9026L23.9539 31.9886L25.4402 31.1699L26.7835 30.1222L28.2529 29.2807L29.6705 28.3453L31.0698 27.3972L32.517 26.5017L33.9262 25.555L32.4723 24.6933L31.1294 23.6702L29.6553 22.8411L28.3181 21.8137L26.8311 21.0031L25.455 20.0309L24.0675 19.0673L22.6323 18.1829L21.2257 17.2775Z"
                  fill="#816259"></path>
              </svg>
            </a>
          </div>
        </nav>
      </main>
    </div>

    <Breadcrumb currentPageTitle="イベント情報" />
    <PageBottomWave />
  </section>

  <style lang="scss">
    @import "../styles/variables";
    @import "../styles/functions";
    @import "../styles/mixins";

    .event-page {
      padding-top: spx(296);
      position: relative;
      min-height: 90vh;
      padding-bottom: spx(99);
      @include tablet-up {
        padding-top: ppx(253 * 1.2);
        padding-bottom: ppx(228 * 1.2);
      }
      @include desktop-up {
        padding-top: ppx(253);
        padding-bottom: ppx(228);
      }

      &__content {
        padding-bottom: spx(100);
        @include tablet-up {
          padding-bottom: ppx(130 * 1.2);
        }
        @include desktop-up {
          padding-bottom: ppx(130);
        }
      }
    }

    .event-content {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    .event-overview {
      display: flex;
      gap: spx(40);
      align-items: center;
      justify-content: center;
      margin-top: spx(60);
      @include tablet-up {
        gap: ppx(60 * 1.2);
        margin-top: ppx(107 * 1.2);
      }
      @include desktop-up {
        gap: ppx(60);
        margin-top: ppx(107);
      }

      &__tree {
        @include tablet-up {
        }
        @include desktop-up {
        }

        &--left {
          @include tablet-up {
          }
          @include desktop-up {
          }
        }

        &--right {
          transform: scale(-1, 1);
          @include tablet-up {
          }
          @include desktop-up {
          }
        }
      }

      &__tree-picture {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &__tree-img {
        display: block;
        width: spx(140);
        @include tablet-up {
          width: ppx(170 * 1.2);
        }
        @include desktop-up {
          width: ppx(170);
        }
      }

      &__title {
        color: var(--logo_color_2, #816259);
        text-align: center;
        font-family: "Zen Kaku Gothic Antique";
        font-size: spx(35);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: spx(10.5);
        @include tablet-up {
          font-size: ppx(45 * 1.2);
          letter-spacing: ppx(13.5 * 1.2);
        }
        @include desktop-up {
          font-size: ppx(45);
          letter-spacing: ppx(13.5);
        }
      }
    }

    .event-details {
      @include tablet-up {
      }
      @include desktop-up {
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: spx(15);
        width: 94vw;
        margin-inline: auto;
        margin-top: spx(64);
        @include tablet-up {
          gap: ppx(20 * 1.2);
          width: 62vw;
          margin-top: ppx(40 * 1.2);
        }
        @include desktop-up {
          gap: ppx(20);
          width: 53vw;
          margin-top: ppx(40);
        }
      }

      &__item {
        display: grid;
        grid-template-columns: spx(195) auto;
        gap: spx(10);
        border-radius: spx(20);
        background: var(--base_2, #fcf2c9);
        padding: spx(15) spx(30) spx(20);
        @include tablet-up {
          grid-template-columns: ppx(230 * 1.2) auto;
          gap: ppx(40 * 1.2);
          border-radius: ppx(20 * 1.2);
          padding: ppx(20 * 1.2) ppx(50 * 1.2);
        }
        @include desktop-up {
          grid-template-columns: ppx(230) auto;
          gap: ppx(40);
          border-radius: ppx(20);
          padding: ppx(20) ppx(50);
        }

        &--sponsor {
          @include tablet-up {
          }
          @include desktop-up {
          }
        }
      }

      &__term {
        color: var(--logo_color_3, #c99e2d);
        font-family: "Zen Kaku Gothic Antique";
        font-size: spx(28);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: spx(-0.84);
        @include tablet-up {
          font-size: ppx(30 * 1.2);
          line-height: 180%;
          letter-spacing: 0;
        }
        @include desktop-up {
          font-size: ppx(30);
        }
        &-suffix {
          font-size: spx(22);
          @include tablet-up {
            font-size: ppx(22 * 1.2);
          }
          @include desktop-up {
            font-size: ppx(22);
          }
        }
      }

      &__description {
        color: var(--base_5, #102a4d);
        font-family: "Zen Kaku Gothic Antique";
        font-size: spx(28);
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: spx(-0.84);
        @include tablet-up {
          font-size: ppx(30 * 1.2);
          line-height: 180%;
          letter-spacing: 0;
        }
        @include desktop-up {
          font-size: ppx(30);
        }
      }

      &__description--date {
        display: flex;
      }
      &__date-year {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &__date-detail {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &__date-wrapper {
        @include tablet-up {
          display: flex;
        }
        @include desktop-up {
        }
      }

      &__date-day {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &__address {
        @include tablet-up {
          display: flex;
          gap: 1em;
        }
        @include desktop-up {
        }

        &-zip {
          @include tablet-up {
          }
          @include desktop-up {
          }
        }

        &-prefecture {
          @include tablet-up {
          }
          @include desktop-up {
          }
        }

        &-venue {
          @include tablet-up {
          }
          @include desktop-up {
          }
        }
      }

      &__link {
        color: var(--logo_color_2, #816259);
        transition: color 0.3s ease;
        @include tablet-up {
        }
        @include desktop-up {
        }
        @include hover {
          &:hover {
            color: #c99e2d;
          }
        }
      }

      &__sponsor-list {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &__sponsor-item {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }
    }

    .event-links {
      @include tablet-up {
      }
      @include desktop-up {
      }

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: spx(30);
        margin-top: spx(64);
        @include tablet-up {
          flex-direction: row;
          justify-content: center;
          gap: ppx(140 * 1.2);
          margin-top: ppx(80 * 1.2);
        }
        @include desktop-up {
          gap: ppx(140);
          margin-top: ppx(80);
        }
      }

      &__item {
        display: flex;
        width: spx(420);
        height: spx(80);
        align-items: center;
        flex-shrink: 0;
        border-radius: spx(70);
        background: var(--logo_color_2, #816259);
        position: relative;
        transition: background 0.3s ease;
        @include tablet-up {
          width: ppx(470 * 1.2);
          height: ppx(90 * 1.2);
          border-radius: ppx(80 * 1.2);
        }
        @include desktop-up {
          width: ppx(470);
          height: ppx(90);
          border-radius: ppx(80);
        }
        @include hover {
          &:hover {
            background: var(--logo_color_3, #c99e2d);

            .event-links__icon path {
              fill: var(--logo_color_3, #c99e2d);
            }
          }
        }
      }

      &__text {
        color: var(--white, #fff);
        text-align: center;
        font-family: "Zen Kaku Gothic Antique";
        font-size: spx(30);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        width: spx(270);
        margin-left: spx(61);
        @include tablet-up {
          font-size: ppx(33 * 1.2);
          width: ppx(297 * 1.2);
          margin-left: ppx(71 * 1.2);
        }
        @include desktop-up {
          font-size: ppx(33);
          width: ppx(297);
          margin-left: ppx(61);
        }
      }

      &__icon {
        display: block;
        width: spx(50);
        height: spx(50);
        position: absolute;
        right: spx(13);
        path {
          transition: fill 0.3s ease;
        }

        @include tablet-up {
          width: ppx(56 * 1.2);
          height: ppx(56 * 1.2);
          right: ppx(16 * 1.2);
        }
        @include desktop-up {
          width: ppx(56);
          height: ppx(56);
          right: ppx(16);
        }
      }
    }
  </style>
</PageLayout>
