---
import logoHorizontal from "../../images/menu/logo-horizontal.svg";
import HeaderTree from "../../images/common/page-header-tree.svg";
import PageHeadWaveMobile from "../../images/common/page-header-wave-mobile.svg";
import PageHeadWaveTablet from "../../images/common/page-header-wave-tablet.svg";
import PageHeadWaveDesktop from "../../images/common/page-header-wave-desktop.svg";
---

<header class="page-header">
  <h1 class="page-header__logo">
    <a href="/" class="page-header__logo-link">
      <img
        src={logoHorizontal.src}
        alt="コッコ祭りロゴ"
        class="page-header__logo-img"
      />
    </a>
  </h1>
  <figure class="page-header__wave">
    <picture class="page-header__wave-picture">
      <!-- デスクトップ（1024px以上）→ 最高解像度版 -->
      <source
        media="(min-width: 1024px)"
        srcset={PageHeadWaveDesktop.src.toString()}
      />
      <!-- タブレット（744px以上）→ 中解像度版 -->
      <source
        media="(min-width: 744px)"
        srcset={PageHeadWaveTablet.src.toString()}
      />
      <!-- スマホ（744px未満）→ 最小解像度版 -->
      <img
        src={PageHeadWaveMobile.src}
        alt="装飾用の波形画像"
        class="page-header__wave-img"
      />
    </picture>
  </figure>
  <img
    src={HeaderTree.src}
    alt="装飾用の木の画像"
    class="page-header__tree page-header__tree--left"
  />
  <img
    src={HeaderTree.src}
    alt="装飾用の木の画像"
    class="page-header__tree page-header__tree--right"
  />
</header>

<style lang="scss">
  /* 必要なmixin/functionをインポート */
  @import "../../styles/variables";
  @import "../../styles/functions";
  @import "../../styles/mixins";

  body {
    &.menu-open {
      overflow: hidden;
    }
  }

  main {
    position: relative;
  }

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    @include tablet-up {
    }
    @include desktop-up {
    }

    &__logo {
      position: absolute;
      z-index: 3;
      top: spx(51);
      left: spx(28);
      @include tablet-up {
        top: tpx(51);
        left: tpx(51);
      }
      @include desktop-up {
        top: ppx(64);
        left: ppx(64);
      }
    }

    &__logo-link {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__logo-img {
      display: block;
      width: spx(289);
      @include tablet-up {
        width: tpx(267);
      }
      @include desktop-up {
        width: ppx(334);
      }
    }

    &__wave {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 101%;
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__wave-picture {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__wave-img {
      display: block;
      width: 100%;
      object-fit: cover;
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__tree {
      position: absolute;
      z-index: 1;
      display: block;
      width: spx(205);
      @include tablet-up {
        width: tpx(515);
      }
      @include desktop-up {
        width: ppx(645);
      }

      &--left {
        top: spx(140);
        left: spx(-10);
        @include tablet-up {
          top: tpx(63);
          left: tpx(-24);
        }
        @include desktop-up {
          top: ppx(79);
          left: ppx(-30);
        }
      }

      &--right {
        transform: scaleX(-1);
        top: spx(116);
        right: spx(-10);
        @include tablet-up {
          top: tpx(23);
          right: tpx(-24);
        }
        @include desktop-up {
          top: ppx(29);
          right: ppx(-30);
        }
      }
    }
  }
</style>
