---
import logoHorizontal from "../../images/menu/logo-horizontal.svg";
import HeaderTree from "../../images/common/page-header-tree.svg";
import PageHeadWaveMobile from "../../images/common/page-header-wave-mobile.svg";
import PageHeadWaveTablet from "../../images/common/page-header-wave-tablet.svg";
import PageHeadWaveDesktop from "../../images/common/page-header-wave-desktop.svg";
---

<div class="page-header">
  <h1 class="page-header__title">
    <a href="/" class="page-header__logo-link">
      <img
        class="page-header__logo-image"
        src={logoHorizontal.src}
        alt="コッコ祭りロゴ"
      />
    </a>
  </h1>
  <picture>
    <source media="(min-width: 1024px)" srcset={PageHeadWaveDesktop.src} />
    <source media="(min-width: 744px)" srcset={PageHeadWaveTablet.src} />
    <img src={PageHeadWaveMobile.src} alt="" class="page-header__wave" />
  </picture>
  <img
    class="page-header__tree page-header__tree--1"
    src={HeaderTree.src}
    alt="装飾用の木のイラスト"
  />
  <img
    class="page-header__tree page-header__tree--2"
    src={HeaderTree.src}
    alt="装飾用の木のイラスト"
  />
</div>

<style lang="scss">
  /* 必要なmixin/functionをインポート */
  @import "../../styles/variables";
  @import "../../styles/functions";
  @import "../../styles/mixins";

  body {
    &.menu-open {
      overflow: hidden;
    }
  }

  main {
    position: relative;
  }

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: spx(276);
    overflow-x: hidden;
    @include tablet-up {
      height: tpx(388 * 1.2);
    }
    @include desktop-up {
      height: ppx(485);
    }

    &__title {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__logo-link {
      display: block;
      width: max-content;
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__logo-image {
      display: block;
      width: spx(289);
      height: spx(67.695);
      flex-shrink: 0;
      top: spx(51);
      left: spx(28);
      position: relative;
      z-index: 3;
      @include tablet-up {
        width: tpx(267);
        height: tpx(62);
        top: tpx(51);
        left: tpx(51);
      }
      @include desktop-up {
        width: ppx(333.999);
        height: ppx(78.001);
        top: ppx(64);
        left: ppx(64);
      }
    }

    &__wave {
      position: absolute;
      display: block;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      @include tablet-up {
      }
      @include desktop-up {
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__tree {
      position: absolute;
      display: block;
      z-index: 1;
      @include tablet-up {
      }
      @include desktop-up {
      }

      &--1 {
        width: spx(205);
        height: spx(135.333);
        flex-shrink: 0;
        top: spx(140);
        left: 0;
        @include tablet-up {
          width: tpx(492);
          height: tpx(324);
          top: tpx(63);
        }
        @include desktop-up {
          width: ppx(615);
          height: ppx(406);
          top: ppx(79);
        }
      }

      &--2 {
        width: spx(205);
        height: spx(135.333);
        flex-shrink: 0;
        top: spx(116);
        right: 0;
        transform: scaleX(-1);
        @include tablet-up {
          width: tpx(492);
          height: tpx(324);
          top: tpx(23);
        }
        @include desktop-up {
          width: ppx(615);
          height: ppx(406);
          top: ppx(29);
        }
      }
    }
  }
</style>
