---
export interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  ogUrl?: string;
  ogType?: string;
  structuredData?: object;
}

const { title, description, ogImage, ogUrl, ogType, structuredData } = Astro.props;

// メインSCSSファイルをインポート
import "../styles/main.scss";

// 共通コンポーネント
import Head from "../components/common/Head.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <Head
    title={title}
    description={description}
    ogImage={ogImage}
    ogUrl={ogUrl}
    ogType={ogType}
    structuredData={structuredData}
  />
  <body>
    <slot />
  </body>
</html>

<style lang="scss">
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";

  body {
    &.menu-open {
      overflow: hidden;
    }
  }
</style>